<a href="https://colab.research.google.com/github/sid2305/BigDataProject/blob/main/DOB_Housing_Permit_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Installing all the packages

In [ ]:
# !pip install openclean
# !pip install humanfriendly
# !pip install openclean-geo

Collecting openclean
  Downloading openclean-0.2.1-py3-none-any.whl (5.2 kB)
Collecting openclean-core==0.4.1
  Downloading openclean_core-0.4.1-py3-none-any.whl (267 kB)
     |████████████████████████████████| 267 kB 5.4 MB/s
Collecting histore>=0.4.0
  Downloading histore-0.4.1-py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 53.5 MB/s
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.4.4)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.0.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (2.8.2)
Collecting flowserv-core>=0.8.0
  Downloading flowserv_core-0.9.2-py3-none-any.whl (260 kB)
     |████████████████████████████████| 260 kB 43.6 MB/s
Collecting refdata>=0.2.0
  Downloading refdata-0.2.0-py3-none-any.whl (37 kB)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (2.23.0)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.1.5)
Collecting jsonschema>=3.2.0
  Downloading jsonschema-4.2.1-py3-none-any.whl (69 kB)
     |████████████████████████████████| 69 kB 6.8 MB/s
Requirement already satisfied: dill in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (0.3.4)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (0.16.0)
Collecting jellyfish
  Downloading jellyfish-0.8.9.tar.gz (137 kB)
     |████████████████████████████████| 137 kB 55.5 MB/s
Collecting paramiko
  Downloading paramiko-2.8.1-py2.py3-none-any.whl (206 kB)
     |████████████████████████████████| 206 kB 46.2 MB/s
Requirement already satisfied: Click in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (7.1.2)
Requirement already satisfied: SQLAlchemy>=1.3.18 in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.4.27)
Collecting pyyaml>=5.1
  Downloading PyYAML-6.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (596 kB)
     |████████████████████████████████| 596 kB 27.8 MB/s
Collecting gitpython
  Downloading GitPython-3.1.24-py3-none-any.whl (180 kB)
     |████████████████████████████████| 180 kB 43.7 MB/s
Collecting passlib
  Downloading passlib-1.7.4-py2.py3-none-any.whl (525 kB)
     |████████████████████████████████| 525 kB 34.9 MB/s
Collecting pyyaml-include
  Downloading pyyaml_include-1.2.post2-py3-none-any.whl (20 kB)
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from histore>=0.4.0->openclean-core==0.4.1->openclean) (5.4.8)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (21.2.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (4.8.2)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (0.18.0)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (5.4.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (3.6.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->openclean-core==0.4.1->openclean) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->openclean-core==0.4.1->openclean) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->openclean-core==0.4.1->openclean) (1.15.0)
Requirement already satisfied: pooch>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from refdata>=0.2.0->openclean-core==0.4.1->openclean) (1.5.2)
Collecting tableprint
  Downloading tableprint-0.9.1-py3-none-any.whl (6.8 kB)
Collecting datasize>=1.0.0
  Downloading datasize-1.0.0.tar.gz (149 kB)
     |████████████████████████████████| 149 kB 40.0 MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from pooch>=1.3.0->refdata>=0.2.0->openclean-core==0.4.1->openclean) (21.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy>=1.3.18->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.1.2)
Collecting gitdb<5,>=4.0.1
  Downloading gitdb-4.0.9-py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.5 MB/s
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from gitpython->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (3.10.0.2)
Collecting smmap<6,>=3.0.1
  Downloading smmap-5.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->pooch>=1.3.0->refdata>=0.2.0->openclean-core==0.4.1->openclean) (3.0.6)
Collecting pynacl>=1.0.1
  Downloading PyNaCl-1.4.0-cp35-abi3-manylinux1_x86_64.whl (961 kB)
     |████████████████████████████████| 961 kB 40.9 MB/s
Collecting bcrypt>=3.1.3
  Downloading bcrypt-3.2.0-cp36-abi3-manylinux2010_x86_64.whl (63 kB)
     |████████████████████████████████| 63 kB 2.0 MB/s
Collecting cryptography>=2.5
  Downloading cryptography-36.0.0-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 36.2 MB/s
Requirement already satisfied: cffi>=1.1 in /usr/local/lib/python3.7/dist-packages (from bcrypt>=3.1.3->paramiko->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.1->bcrypt>=3.1.3->paramiko->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (2.21)
Collecting pyyaml>=5.1
  Downloading PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl (636 kB)
     |████████████████████████████████| 636 kB 64.3 MB/s
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (1.24.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->openclean-core==0.4.1->openclean) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->openclean-core==0.4.1->openclean) (1.1.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from tableprint->refdata>=0.2.0->openclean-core==0.4.1->openclean) (0.2.5)
Building wheels for collected packages: datasize, jellyfish
  Building wheel for datasize (setup.py) ... done
  Created wheel for datasize: filename=datasize-1.0.0-py2.py3-none-any.whl size=155047 sha256=8d89fddac7ccffd0b6917f014ba6117b796421877a2658fbfef331bbedc90dbe
  Stored in directory: /root/.cache/pip/wheels/f7/b5/32/d8836896da6aca7f9c5748670ea6110d1385c262bf3abcca30
  Building wheel for jellyfish (setup.py) ... done
  Created wheel for jellyfish: filename=jellyfish-0.8.9-cp37-cp37m-linux_x86_64.whl size=73228 sha256=80696ea8b15ec5c52116f6ea326857b25518e95a4fadcf26f05924e00f8dfd70
  Stored in directory: /root/.cache/pip/wheels/32/a9/ef/5d8742e72deaf0d1de327a180d008c2c0299367581800ea73f
Successfully built datasize jellyfish
Installing collected packages: smmap, pyyaml, pynacl, gitdb, cryptography, bcrypt, tableprint, pyyaml-include, passlib, paramiko, jsonschema, gitpython, datasize, refdata, jellyfish, histore, flowserv-core, openclean-core, openclean
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Attempting uninstall: jsonschema
    Found existing installation: jsonschema 2.6.0
    Uninstalling jsonschema-2.6.0:
      Successfully uninstalled jsonschema-2.6.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
nbclient 0.5.9 requires jupyter-client>=6.1.5, but you have jupyter-client 5.3.5 which is incompatible.
Successfully installed bcrypt-3.2.0 cryptography-36.0.0 datasize-1.0.0 flowserv-core-0.9.2 gitdb-4.0.9 gitpython-3.1.24 histore-0.4.1 jellyfish-0.8.9 jsonschema-4.2.1 openclean-0.2.1 openclean-core-0.4.1 paramiko-2.8.1 passlib-1.7.4 pynacl-1.4.0 pyyaml-5.4.1 pyyaml-include-1.2.post2 refdata-0.2.0 smmap-5.0.0 tableprint-0.9.1
Collecting humanfriendly
  Downloading humanfriendly-10.0-py2.py3-none-any.whl (86 kB)
     |████████████████████████████████| 86 kB 532 kB/s
Installing collected packages: humanfriendly
Successfully installed humanfriendly-10.0
Collecting openclean-geo
  Downloading openclean_geo-0.1.0-py3-none-any.whl (10 kB)
Requirement already satisfied: openclean-core>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from openclean-geo) (0.4.1)
Requirement already satisfied: Shapely>=1.7.1 in /usr/local/lib/python3.7/dist-packages (from openclean-geo) (1.8.0)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (0.16.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (1.0.1)
Requirement already satisfied: refdata>=0.2.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (0.2.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (2.8.2)
Requirement already satisfied: jellyfish in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (0.8.9)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (1.4.1)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (1.1.5)
Requirement already satisfied: flowserv-core>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (0.9.2)
Requirement already satisfied: jsonschema>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (4.2.1)
Requirement already satisfied: dill in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (0.3.4)
Requirement already satisfied: histore>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (0.4.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (1.4.4)
Requirement already satisfied: SQLAlchemy>=1.3.18 in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (1.4.27)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (5.4.1)
Requirement already satisfied: paramiko in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (2.8.1)
Requirement already satisfied: pyyaml-include in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (1.2.post2)
Requirement already satisfied: passlib in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (1.7.4)
Requirement already satisfied: Click in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (7.1.2)
Requirement already satisfied: gitpython in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (3.1.24)
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from histore>=0.4.0->openclean-core>=0.3.0->openclean-geo) (5.4.8)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core>=0.3.0->openclean-geo) (5.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core>=0.3.0->openclean-geo) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core>=0.3.0->openclean-geo) (21.2.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core>=0.3.0->openclean-geo) (4.8.2)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema>=3.2.0->openclean-core>=0.3.0->openclean-geo) (3.6.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->openclean-core>=0.3.0->openclean-geo) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->openclean-core>=0.3.0->openclean-geo) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->openclean-core>=0.3.0->openclean-geo) (1.15.0)
Requirement already satisfied: tableprint in /usr/local/lib/python3.7/dist-packages (from refdata>=0.2.0->openclean-core>=0.3.0->openclean-geo) (0.9.1)
Requirement already satisfied: datasize>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from refdata>=0.2.0->openclean-core>=0.3.0->openclean-geo) (1.0.0)
Requirement already satisfied: pooch>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from refdata>=0.2.0->openclean-core>=0.3.0->openclean-geo) (1.5.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from pooch>=1.3.0->refdata>=0.2.0->openclean-core>=0.3.0->openclean-geo) (21.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy>=1.3.18->flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (1.1.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from gitpython->flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (3.10.0.2)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.7/dist-packages (from gitpython->flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (4.0.9)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.7/dist-packages (from gitdb<5,>=4.0.1->gitpython->flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (5.0.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->pooch>=1.3.0->refdata>=0.2.0->openclean-core>=0.3.0->openclean-geo) (3.0.6)
Requirement already satisfied: cryptography>=2.5 in /usr/local/lib/python3.7/dist-packages (from paramiko->flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (36.0.0)
Requirement already satisfied: bcrypt>=3.1.3 in /usr/local/lib/python3.7/dist-packages (from paramiko->flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (3.2.0)
Requirement already satisfied: pynacl>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from paramiko->flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (1.4.0)
Requirement already satisfied: cffi>=1.1 in /usr/local/lib/python3.7/dist-packages (from bcrypt>=3.1.3->paramiko->flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.1->bcrypt>=3.1.3->paramiko->flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (2.21)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core>=0.3.0->openclean-geo) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core>=0.3.0->openclean-geo) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core>=0.3.0->openclean-geo) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core>=0.3.0->openclean-geo) (1.24.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->openclean-core>=0.3.0->openclean-geo) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->openclean-core>=0.3.0->openclean-geo) (3.0.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from tableprint->refdata>=0.2.0->openclean-core>=0.3.0->openclean-geo) (0.2.5)
Installing collected packages: openclean-geo
Successfully installed openclean-geo-0.1.0

Importing packages

In [ ]:
from openclean.data.source.socrata import Socrata
from openclean.pipeline import stream
from openclean.function.eval.base import Col
from openclean.function.eval.logic import And
from openclean.function.eval.null import IsNotEmpty
from openclean.operator.map.violations import fd_violations
from openclean.function.eval.mapping import Lookup
from openclean.operator.transform.update import Update
from openclean.operator.transform.update import update
from openclean.data.mapping import Mapping
from openclean.data.mapping import StringMatch
from openclean.cluster.key import key_collision
from openclean.data.refdata import RefStore
from openclean.function.value.null import is_empty
from pprint import pprint
import datetime
import gzip
import humanfriendly
import os
import time
import re

Loading Datasets

In [ ]:
dataset = Socrata().dataset('bty7-2jhb')

datafile = './bty7-2jhb.tsv.gz'


# Download file only if it does not exist already.
if not os.path.isfile(datafile):
    with gzip.open(datafile, 'wb') as f:
        print('Downloading ...\n')
        dataset.write(f)


fsize = humanfriendly.format_size(os.stat(datafile).st_size)
print("Using '{}' in file {} of size {}".format(dataset.name, datafile, fsize))
ds_full = stream(datafile)

Using 'Historical DOB Permit Issuance' in file ./bty7-2jhb.tsv.gz of size 321.34 MB

In [83]:
# We can choose whether you want to run the code for small sample or the full dataset
#Uncomment this to following result to run on a small subset
ds_sub = ds_full.sample(100, 0)
# ds_sub = ds_full
#make a copy of the subset of the dataset before cleaning
if not os.path.exists(dataset.name): 
  os.makedirs(dataset.name)
initalDF = ds_sub.to_df()
initalDF.to_csv("./"+dataset.name+"/initialDataset.csv")

Functions

In [71]:
#Violations of Functional Dependencies
#Latitude, Longitude -> Borough
#In this data when we examine this property, there are multiple borough's for same latitude and longitude.
def fd_borough(borough,latitude,longitude,ds_sub):
  data = ds_sub.select([borough,latitude,longitude]).where(And(IsNotEmpty(latitude), IsNotEmpty(longitude), IsNotEmpty(borough))).update(borough, str.upper)
  df = data\
      .select([borough,latitude,longitude])\
      .to_df()

  groups = fd_violations(df, lhs=[latitude,longitude], rhs=borough)
  group_mapping = dict()
  fixes = Mapping()
  for key in groups.keys():
      values = groups.values(key=key, columns=borough)
      max=0
      maxBorogh=""
      for v in values:
        if max<values[v]:
          max=values[v]
          maxBorogh=v
      group_mapping[key] = maxBorogh
  ds_sub=ds_sub.update([borough, latitude,longitude], lambda x,y,z: [group_mapping[(y,z)],y,z] if (y,z) in group_mapping else [x,y,z])
  return ds_sub

#The main idea of key collision methods is to create an alternative representation for each value (i.e., a key), and then group values based on their keys. So, here we group street names that are similar
def cleanstreet(street,ds_sub): 
  streets = ds_sub.select(street).distinct()
  clusters = key_collision(values=streets, minsize=2, threads=4)
  group_mapping = dict()
  def print_cluster(cnumber, cluster):
      for val, count in cluster.items():
          group_mapping[val]=cluster.suggestion()
  clusters.sort(key=lambda c: len(c), reverse=True)
  for i in range(len(clusters)):
      print_cluster(i + 1, clusters[i])
  ds_sub=ds_sub.update(street,lambda x: group_mapping[x] if x in group_mapping else x)
  return ds_sub

#Owner’s House State Column has 57 distinct values. But in the United States there are only 50 states. So, we find those which are not in the reference dataset and remove those
def cleanstate(state,ds_sub): 
  states = ds_sub.select(state).distinct()
  group_mapping = dict()
  refdata = RefStore()
  refdata\
      .load('nyc.gov:dof:state_codes', auto_download=True)\
      .df()\
      .head()
  states_ref = refdata.load('nyc.gov:dof:state_codes', auto_download=True).distinct('code')
  for rank, val in enumerate(states.most_common()):
      st, freq = val
      if st not in states_ref and st!="":
          print(f'{rank + 1:<3} {st}  {freq:>10,}')
          group_mapping[st]=""
  ds_sub=ds_sub.update(state,lambda x: group_mapping[x] if x in group_mapping else x)
  return ds_sub

# removing columns which contains more than 70% null values
def removecols(ds_sub):
  col_list = []
  reqColsInd = [ds_sub.columns.index(reqCol) for reqCol in ds_sub.columns]
  for i in reqColsInd:
    if (profiles[i]["stats"]["emptyValueCount"]/profiles[i]["stats"]["totalValueCount"])*100>70:
      col_list.append(profiles[i]["column"]) 
  cols = [col for col in ds_sub.columns if col not in col_list]
  ds_sub = ds_sub.select(cols)
  return ds_sub

#clean number content and checking for regular expression
def cleannumber(number):
    number = number.upper()
    if number in null_values: 
      return "N/A"
    number = re.sub("\D", "", number)
    return "N/A" if is_empty(number) else number

#Our date column contains time which is not necessary. So, we remove those
def remove_time(dt):
  if is_empty(dt):
    return 'N/A'
  final = dt
  if 'T' in final:
    final = str(datetime.datetime.strptime(dt, '%Y-%m-%dT%H:%M:%S').date())
  return final
def clean_date(date,ds1):
  ds1 = ds1.update(date, lambda dt1: remove_time(dt1))
  return ds1

#verify given jobtypes from data dictionary and filling empty values wiht N/A
def clean_job_type(jobType):
  jobType = str(jobType)
  if jobType in ["A1","A2","A3","NB","DM","SG"]:
    return jobType
  else:
    return "N/A"

null_values = ["NA", "N.A", "N.A."]
# check to keep only digits and the length is ten digits
def cleanPhone(phone):
  phone = re.sub("\D", "", phone)
  if is_empty(phone) or len(phone) != 10:
      return "N/A"
  else:
      return phone

# Remove all characters except alphabets
def cleanName(name):
    name = name.upper()
    name = re.sub(r".*\.", "", name)
    name = re.sub("[^A-Z ]", "", name)
    name = re.sub(" +", " ", name)
    if name in null_values or is_empty(name): 
      return "N/A"
    return name

#replacing null values with N/A

def cleanEmptyValues(value):
    return "N/A" if value in null_values or is_empty(value) else value

#check the size of the data if it is equal to 3 else put N/A
def community_board_data(data):
    is_valid = True
    if not is_empty(data) and data.isnumeric() and len(data) == 3:
        return data
    else:
        return 'N/A'

#replacing '?' values with N/A
def block_and_lot(block, lot):
  block = 'N/A' if block == '?' else block
  lot = 'N/A' if lot == '?' else lot
  return block,lot

#check for only two characters for permit type, permit subtype and work type
def cleanType(workType):
  workType = str(workType)
  if len(workType)==2:
    return workType
  else:
    return "N/A"

#Predefined values of Permit status
def cleanPermitStatus(pStatus):
  pStatus = pStatus.upper()
  if pStatus in ["IN PROCESS", "ISSUED", "RE-ISSSUED","REVOKED"]:
    return pStatus
  else:
    return "N/A"

#Predefined values of Filing status
def cleanFilingStatus(fStatus):
  fStatus = fStatus.upper()
  if fStatus in ["INITIAL","RENEWAL"]:
    return fStatus
  else:
    return "N/A"

Profile it

In [57]:
# Profile the resulting dataset view using the default data profiler.

from openclean.profiling.column import DefaultColumnProfiler
profiles = ds_sub.profile(default_profiler=DefaultColumnProfiler)
profiles.stats()

                                  total  empty  distinct  uniqueness   entropy
BOROUGH                             100      0         5    0.050000  1.891360
BIN                                 100      0        99    0.990000  6.623856
Number                              100      0        95    0.950000  6.543856
Street                              100      0        88    0.880000  6.360211
Job #                               100      0       100    1.000000  6.643856
Job doc. #                          100      0         3    0.030000  0.688276
Job Type                            100      0         6    0.060000  1.858274
Self_Cert                           100     62         1    0.026316  0.000000
Block                               100      0        95    0.950000  6.543856
Lot                                 100      0        55    0.550000  5.337564
Community Board                     100      0        41    0.410000  4.890316
Postcode                            100      0        65    0.650000  5.782048
Bldg Type                           100      3         2    0.020619  0.539936
Residential                         100     78         1    0.045455  0.000000
Special District 1                  100     91         7    0.777778  2.641604
Special District 2                  100    100         0         NaN       NaN
Work Type                           100     22         8    0.102564  2.480537
Permit Status                       100      0         2    0.020000  0.141441
Filing Status                       100      0         2    0.020000  0.657705
Permit Type                         100      0         7    0.070000  2.274296
Permit Sequence #                   100      0         5    0.050000  0.912182
Permit Subtype                      100     40         9    0.150000  2.477833
Oil Gas                             100     99         1    1.000000  0.000000
Site Fill                           100     11         5    0.056180  1.509242
Filing Date                         100      0       100    1.000000  6.643856
Issuance Date                       100      0       100    1.000000  6.643856
Expiration Date                     100      0        97    0.970000  6.583856
Job Start Date                      100      0       100    1.000000  6.643856
Permittee's First Name              100      0        76    0.760000  6.080211
Permittee's Last Name               100      0        94    0.940000  6.503856
Permittee's Business Name           100      0       100    1.000000  6.643856
Permittee's Phone #                 100      0        95    0.950000  6.536307
Permittee's License Type            100     12         6    0.068182  1.560079
Permittee's License #               100     10        84    0.933333  6.336298
Act as Superintendent               100     38         2    0.032258  0.119116
Permittee's Other Title             100     87         6    0.461538  2.192006
HIC License                         100     99         1    1.000000  0.000000
Site Safety Mgr's First Name        100     99         1    1.000000  0.000000
Site Safety Mgr's Last Name         100     99         1    1.000000  0.000000
Site Safety Mgr Business Name       100    100         0         NaN       NaN
Superintendent First & Last Name    100     36        64    1.000000  6.000000
Superintendent Business Name        100     36        64    1.000000  6.000000
Owner's Business Type               100      9         5    0.054945  1.892710
Non-Profit                          100     90         1    0.100000  0.000000
Owner's Business Name               100     11        75    0.842697  5.890276
Owner's First Name                  100      9        77    0.846154  6.169829
Owner's Last Name                   100      9        90    0.989011  6.485817
Owner's House #                     100      9        79    0.868132  6.196097
Owner's House Street Name           100      9        84    0.923077  6.337358
Owner’s House City                  100      9        30    0.329670  3.751926
Owner’s House State                 100      9         3    0.032967  0.174385
Owner’s House Zip Code              100      9        57    0.626374  5.534945
Owner's Phone #                     100     12        88    1.000000  6.459432
DOBRunDate                          100      0         1    0.010000  0.000000
Latitude                            100      0        99    0.990000  6.623856
Longitude                           100      0        99    0.990000  6.623856
Council District                    100      0        37    0.370000  4.580870
Census Tract                        100      0        86    0.860000  6.356307
BBL                                 100      4        95    0.989583  6.564129
NTA                                 100      0        60    0.600000  5.520469

##Data Cleaning

In [60]:
ds_sub.head()

           BOROUGH  ...                                                NTA
1000922  MANHATTAN  ...  Midtown-Midtown South                         ...
792850   MANHATTAN  ...  Yorkville                                     ...
29737        BRONX  ...  Soundview-Castle Hill-Clason Point-Harding Par...
408400    BROOKLYN  ...  Erasmus                                       ...
152072       BRONX  ...  Pelham Bay-Country Club-City Island           ...
638036    BROOKLYN  ...  Crown Heights North                           ...
2033870     QUEENS  ...  Flushing                                      ...
1361098  MANHATTAN  ...  Midtown-Midtown South                         ...
564802    BROOKLYN  ...  Bensonhurst West                              ...
954186   MANHATTAN  ...  Upper East Side-Carnegie Hill                 ...

[10 rows x 60 columns]

###Remove Columns with more than 70% of null values

In [61]:
ds_sub = removecols(ds_sub)

###Applying cleaning techniques according to the columns

In [69]:
for col in ds_sub.columns:
  if col in ["Owner's House Street Name","Street"]:
    ds_sub=cleanstreet(col,ds_sub)
  elif col in ["Owner’s House State"]:
    ds_sub=cleanstate(col,ds_sub)
  elif col in ['Filing Date', 'Issuance Date', 'Expiration Date','Job Start Date','DOBRunDate']:
    ds_sub=clean_date(col,ds_sub)
  elif col in ['Number']:
    ds_sub = ds_sub.update(num_col, lambda x: cleannumber(x))
  elif col in ["Owner's Phone #", "Permittee's Phone #"]:
    ds_sub = ds_sub.update(col, lambda a: cleanPhone(a))
  elif col in ["Permittee's First Name","Permittee's Last Name","Owner's First Name","Owner's Last Name"]:
    ds_sub = ds_sub.update(col, lambda a: cleanPhone(a))
  elif col in ["Permit Type", "Permit Subtype" and "Work Type"]:
    ds_sub = ds_sub.update(col, lambda a: cleanType(a))
  elif col in ["Permit Status"]:
    ds_sub = ds_sub.update(col, lambda a: cleanPermitStatus(a))
  elif col in ["Filing Status"]:
    ds_sub = ds_sub.update(col, lambda a: cleanFilingStatus(a))
  else:
    ds_sub = ds_sub.update(col, lambda a: cleanEmptyValues(a))

# cleaning as functional dependency violation between borough, latitude and longitude 
ds_sub=fd_borough('BOROUGH','Latitude','Longitude',ds_sub)
print("Table updated")

Table updated

In [63]:
ds_sub.head()

           BOROUGH  ...                                                NTA
1000922  MANHATTAN  ...  MIDTOWN-MIDTOWN SOUTH                         ...
792850   MANHATTAN  ...  YORKVILLE                                     ...
29737        BRONX  ...  SOUNDVIEW-CASTLE HILL-CLASON POINT-HARDING PAR...
408400    BROOKLYN  ...  ERASMUS                                       ...
152072       BRONX  ...  PELHAM BAY-COUNTRY CLUB-CITY ISLAND           ...
638036    BROOKLYN  ...  CROWN HEIGHTS NORTH                           ...
2033870     QUEENS  ...  FLUSHING                                      ...
1361098  MANHATTAN  ...  MIDTOWN-MIDTOWN SOUTH                         ...
564802    BROOKLYN  ...  BENSONHURST WEST                              ...
954186   MANHATTAN  ...  UPPER EAST SIDE-CARNEGIE HILL                 ...

[10 rows x 50 columns]

In [64]:
from openclean.profiling.column import DefaultColumnProfiler

profiles = ds_sub.profile(default_profiler=DefaultColumnProfiler)
profiles.stats()

                                  total  empty  distinct  uniqueness   entropy
BOROUGH                             100      0         5    0.050000  1.891360
BIN                                 100      0        99    0.990000  6.623856
Number                              100      0        95    0.950000  6.543856
Street                              100      0        87    0.870000  6.340211
Job #                               100      0       100    1.000000  6.643856
Job doc. #                          100      0         3    0.030000  0.688276
Job Type                            100      0         6    0.060000  1.858274
Self_Cert                           100      0         2    0.020000  0.958042
Block                               100      0        95    0.950000  6.543856
Lot                                 100      0        55    0.550000  5.337564
Community Board                     100      0        41    0.410000  4.890316
Postcode                            100      0        65    0.650000  5.782048
Bldg Type                           100      0         3    0.030000  0.718130
Work Type                           100      0         9    0.090000  2.694986
Permit Status                       100      0         2    0.020000  0.141441
Filing Status                       100      0         2    0.020000  0.657705
Permit Type                         100      0         7    0.070000  2.274296
Permit Sequence #                   100      0         5    0.050000  0.912182
Permit Subtype                      100      0        10    0.100000  2.457651
Site Fill                           100      0         5    0.050000  1.406426
Filing Date                         100      0       100    1.000000  6.643856
Issuance Date                       100      0       100    1.000000  6.643856
Expiration Date                     100      0        97    0.970000  6.583856
Job Start Date                      100      0       100    1.000000  6.643856
Permittee's First Name              100      0         1    0.010000  0.000000
Permittee's Last Name               100      0         1    0.010000  0.000000
Permittee's Business Name           100      0       100    1.000000  6.643856
Permittee's Phone #                 100      0        95    0.950000  6.536307
Permittee's License Type            100      0         7    0.070000  1.902230
Permittee's License #               100      0        85    0.850000  6.171663
Act as Superintendent               100      0         3    0.030000  1.031894
Superintendent First & Last Name    100      0        64    0.640000  4.716358
Superintendent Business Name        100      0        64    0.640000  4.716358
Owner's Business Type               100      0         6    0.060000  2.158836
Owner's Business Name               100      0        74    0.740000  5.401742
Owner's First Name                  100      0         1    0.010000  0.000000
Owner's Last Name                   100      0         1    0.010000  0.000000
Owner's House #                     100      0        80    0.800000  6.074918
Owner's House Street Name           100      9        81    0.890110  6.249445
Owner’s House City                  100      0        26    0.260000  3.259621
Owner’s House State                 100      9         3    0.032967  0.174385
Owner’s House Zip Code              100      0        58    0.580000  5.473270
Owner's Phone #                     100      0        89    0.890000  6.213661
DOBRunDate                          100      0         1    0.010000  0.000000
Latitude                            100      0        99    0.990000  6.623856
Longitude                           100      0        99    0.990000  6.623856
Council District                    100      0        37    0.370000  4.580870
Census Tract                        100      0        86    0.860000  6.356307
BBL                                 100      0        96    0.960000  6.543856
NTA                                 100      0        60    0.600000  5.520469

In [84]:
if not os.path.exists(dataset.name): 
  os.makedirs(dataset.name)
finalDF = ds_sub.to_df()
finalDF.to_csv("./"+dataset.name+"/final.csv")